$top-banner-bg-image: 'https://assets.lbctrl.com/uploads/b4e6339f-8a83-414d-ab5b-c92100184f83/af0c65b32904c9c5bd48dd8554f1ee78.png';
$top-banner-bg-color: #0c094f;

:local(.top-banner) {
  background: bottom 35% center / 180% auto no-repeat url($top-banner-bg-image), $top-banner-bg-color;
  @media (min-width: 440px) {
    background: bottom 100px center / 835px auto no-repeat url($top-banner-bg-image), $top-banner-bg-color;
  }

  @media (min-width: 1024px) {
    background: right calc(calc(max(calc(100vw - 1200px), 0px) / 2) - 200px) center / contain no-repeat
        url($top-banner-bg-image),
      $top-banner-bg-color;
  }
}

:local(.invited-top-banner) {
  background: url('https://assets.lbctrl.com/uploads/49a32093-a031-4f5f-b6f8-e6d339bab82d/c4064eeab000d6b1ca8b87ea62bfeba4.png')
    center center / cover no-repeat;
  @media (min-width: 768px) {
    background: url('https://assets.lbctrl.com/uploads/cebdd4b6-9582-48f5-9025-8ef3a0d6059d/bg2.png') top center / 100%
      auto no-repeat;
  }
}

:local(.invited-success-top-banner) {
  background: right 26% bottom / 180% auto no-repeat
      url('https://assets.lbctrl.com/uploads/1e9347ee-a17a-40d3-8ec5-30f1984ca26c/f97bb8294e980691caefc324f0ab5ce6.png'),
    #0c094f;
  @media (min-width: 440px) {
    background: right calc(50vw - 340px) bottom / auto 492px no-repeat
        url('https://assets.lbctrl.com/uploads/1e9347ee-a17a-40d3-8ec5-30f1984ca26c/f97bb8294e980691caefc324f0ab5ce6.png'),
      #0c094f;
  }

  @media (min-width: 1024px) {
    background: right calc(calc(max(calc(100vw - 1200px), 0px) / 2) - 100px) bottom / contain no-repeat
        url('https://assets.lbctrl.com/uploads/1e9347ee-a17a-40d3-8ec5-30f1984ca26c/f97bb8294e980691caefc324f0ab5ce6.png'),
      #0c094f;
  }
}
