:local(.testimonials) {
  background: url('https://assets.lbctrl.com/uploads/bb3b73a7-05cb-476d-9003-ff5624bb8c8f/fe24d57de735ca050c64d455fca0a881.svg')
    center center / cover no-repeat;
}

:local(.testimonials-card) {
  width: 328px;
  height: 526px;
  background: url('https://assets.lbctrl.com/uploads/9b7137e1-7ec1-4b68-bab5-1886d07267cb/b868422cc5cb26b4cb270a4e603242a0.svg')
    center center / contain no-repeat;
}
