$container-common-bg: url('https://assets.lbctrl.com/uploads/1762a20c-43cc-4c84-9094-061990489012/85e1d887985bfb93bd02fb1c9051c879.svg')
    center/cover no-repeat,
  linear-gradient(90deg, #3c1c95 0%, #2f1675 5.15%, #1a0c42 9.23%, #0c051e 16.57%, #030108 39.7%, #000000 57%);

:local(.striving-for-excellence) {
  background: url('https://assets.lbctrl.com/uploads/3d1a4dd8-cadd-4676-9fc9-245718c3f520/03f60967bfe7ea0107ae049276e4a7e5.png')
      bottom 60px left 70% / 900px no-repeat,
    $container-common-bg;
  @media screen and (max-width: 768px) {
    background: url('https://assets.lbctrl.com/uploads/3d1a4dd8-cadd-4676-9fc9-245718c3f520/03f60967bfe7ea0107ae049276e4a7e5.png')
        bottom 120px center/ 720px no-repeat,
      $container-common-bg;
  }
}

:local(.striving-for-excellence-image) {
  background: url('https://assets.lbctrl.com/uploads/3d1a4dd8-cadd-4676-9fc9-245718c3f520/03f60967bfe7ea0107ae049276e4a7e5.png')
    center/ 750px no-repeat;
}
